.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg-bl {
  background-image: url('./assets/img/bg-black.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.slick-prev {
  left: 26px !important;
  top: 665px!important;
  width: 51px !important;
}

.slick-next {
  right: 26px !important;
  top: 665px!important;
  width: 80px !important;
}

.slick-slide > div {
  display: grid;
  place-items: center;
  width: 80%;
  margin-top: 50px;
  margin: auto;
  padding: 0px;
}
