@import 'aos/dist/aos.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  @font-face {
    font-family: 'Avenir';
    src: url('./assets/font/AvenirNextLTPro-Regular.otf');
  }
}

@layer base {
  @font-face {
    font-family: 'Spoof';
    src: url('./assets/font/SpoofTrial-Medium.otf');
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;